DISCORD_CLIENT_ID=1084647273893462126
DISCORD_CLIENT_SECRET=8JP5GX78QqH3gmtmJYiyCcYamCXXzv3W
DISCORD_REDIRECT_URI=http://127.0.0.1:8788/auth/discord/callback
DISCORD_BOT_TOKEN=MTA4NDY0NzI3Mzg5MzQ2MjEyNg.GdQW0Q.ulxi0gkba7tAKBkU4dfpxZRTyofFGgmACF4uMg
STELLAR_NETWORK=TESTNET
TIER_1_BADGE_TRUSTLINE=
botpubkey=GAJUGK5WKEF5GJ2DG7BZ4G52TXHMRYRAWL2DWYC2NYOO5V6FHJMIB7B2
authsigningkey=SB34ACYXTSRY6CODLOJ7AA2JBBMVG6OOSWYSWUUX7XG3ZNU7G7JX4KOS
NODE_VERSION=17.9.1
PYTHON_VERSION=3.7
horizonURL=https://horizon-testnet.stellar.org/