DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
DISCORD_REDIRECT_URI=http://localhost:8788/auth/discord/callback
DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
STELLAR_NETWORK=TESTNET
TIER_1_BADGE_TRUSTLINE=
authsigningkey=
NODE_VERSION=17.9.1
PYTHON_VERSION=3.7