node_modules
wrangler.toml
/.cache
IGNORE
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.dev.vars
keys
.wrangler/state/d1
tunnle
.wrangler/state/d1/DB.sqlite3
.wrangler
.vscode
file.session.sql
utils/register_discord_metadata.ts
utils/register_discord_metadata.mjs
old
linked-roles-bot
/.yarn
package-lock.json
