name = "stellar-discord-bot"

compatibility_date = "2022-04-05"
compatibility_flags = ["streams_enable_constructors"]
usage_model="unbound"

kv_namespaces = [
    { binding = "SESSION_STORAGE", id = "363e26122ea845ba9bcbaed2e3062303", preview_id = "98bea1cc343443a680126ff80cab6ec1" },
    { binding = "TOMLKEYS", id = "1850521f66d04f3086b5a1d3605f2828", preview_id = "edcc3a2094314732bb790a03c975126b" },
    { binding = "ROLEDATA", id = "accd0dc2ff9d4e7284b7319157e5c87e", preview_id = "25f342cc635e4f949b4e7cd882a5e55e" }
]
[site]
  bucket = "./public"
[build]
  command = "npm run build"
[[ d1_databases ]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "SDBDATA"
database_id = "2809820a-48a3-4e76-aeb5-5aa87a913cd3"
